body {    
    background-color: #F5F5F5;
}

.head {
    height: 50px;
    background-color: #1E51BD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    a {        
        text-decoration: none;
        color: white;
    }
}

.addPost {
    background-color: white;
    border: solid 2px #535353;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    h2 {
        text-align: center;
    }
    div{
        margin: 7px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    li {
        color: white;
        background-color: #535353;
        margin-bottom: 5px;
        border: solid 2px #09ffff;
        border-radius: 5px;
        list-style-type: none;
        padding: 5px;
        &:hover {
            color:black;
            background-color: #cccccc;
            transition: 0.5s;
        }
    }
}

.formControl {
    font-size: small;
    span { 
        margin-left: 10px;
        color: red; 
    }
    & input.error, & textarea.error { 
        resize: none;
        border: solid 2px red; 
    }
};